---
import "./PrevNextArticle.less";
import { fmtTime } from "@/utils/index";

const { prev, next } = Astro.props;
---

<nav class="vh-prev-next">
  {prev && (
    <a class="vh-prev vh-prev-next-item" href={`/article/${prev.id}`}>
      <div class="vh-prev-next-label">上一篇</div>
      <div class="vh-prev-next-title vh-ellipsis">{prev.title}</div>
      <time>{fmtTime(prev.date, "YYYY-MM-DD")}</time>
    </a>
  )}

  {next && (
    <a class="vh-next vh-prev-next-item" href={`/article/${next.id}`}>
      <div class="vh-prev-next-label">下一篇</div>
      <div class="vh-prev-next-title vh-ellipsis">{next.title}</div>
      <time>{fmtTime(next.date, "YYYY-MM-DD")}</time>
    </a>
  )}
</nav>
